---
changefreq: "weekly"
priority: 0.6
menu_title: "Web Marketing Seminar"
sitemap_exclude: false
---

<% content_for :page_title do %>
  Beginner Web Marketing Seminar | <%= config.website_name %>
<% end %>

<div>
  <h1>
    Beginner Web Marketing Seminar
  </h1>

  <div>
    <hr>
    <h2>
      "I want to learn more about using the web to grow our business, but I'm not sure where to start!"
    </h2>

    <br/>

    <p>
      Come join us for a 2-hour class (held every few months) to explore the evolving world of internet marketing, and get up-to-date knowledge of what works and what doesn't in this parimarily permission-marketing based environment.
    </p>

    <br/>

    <h2>Next Class</h2>

    <br/>

    <% event = get_upcoming_event_details_for_type(CustomHelpers.EVENT_TYPE_WEB_MARKETING_SEMINAR) %>

    <% if event && event[:start_date] %>
      <p>    
        <%= partial "event_details", :locals => { :event => event } %>
      </p>

      <br/>

      <p>    
        <%= partial "event_registration", :locals => { :event => event } %>
      </p>
    <% else %>
      <p>
        No classes scheduled
      </p>
    <% end %>
  </div>
</div>
