---
changefreq: "weekly"
priority: 0.8
menu_title: "Simple Websites and Microsites"
sitemap_exclude: false
---

<% content_for :page_title do %>
  Simple Website Creation | <%= config.website_name %>
<% end %>

<article id="post-36" class="post-36 post type-post status-publish format-standard hentry category-uncategorized">
  <header class="entry-header">
    <h1 class="entry-title">
      Simple Static Websites
    </h1>
  </header>
  <!-- .entry-header -->
  <div class="entry-content">
    <hr>
    
    <h2 id="paragraph">
      "I've got this website, but its ugly and dated. I'd really like someone to punch this up a bit."
    </h2>

    <br/>
    
    <p>
      Wouldn't it be nice to have a website that doesn't look like it was conceived in 1996? Wouldn't it be nice if your website showed up nicely on mobile phones as well as desktop PCs and macs. Wouldn't it be nice if your website was "responsive", meaning that no matter how it was resized in a browser, it just looked great? And wouldn't it be nice if this didn't all cost an absolute fortune?
    </p>

    <br/>

    <p>
      It turns out that these days there are MANY low-cost solutions to getting your website up to snuff with todays design standards. A lot of web design businesses will quote you a custom solution that includes custom CSS, custom images, photography, and what have you. The reality is that this is most-usually overkill, and not everyone needs to go this route.
    </p>

    <br/>

    <p>
      For a very reasonable price, we can install a beautiful modern web-theme and place your content neatly inside of it, and in literal hours, not days, you will have something beautiful, and not-so-embarrassing as your current website.
    </p>
    
    <br/>

    <p>
      Running wordpress or another custom CMS system? Its okay, we have options for you too. In some cases, this means you have even more low-cost options. And don't worry, we won't tell your cousin that we called his website ugly.
    </p>

    <br/>

    <p>
      So, lets sit down and talk about this over coffee... 
    </p>

    <br/>

    <%= partial "shared/cta" %>

  </div>
</article>
