---
changefreq: "weekly"
priority: 0.9
menu_title: "SEO"
sitemap_exclude: false
---

<% content_for :page_title do %>
  We're an SEO company who can help you improve your SEO  
<% end %>

<div class='col-md-12'>
  <h1>
    SEO Service
  </h1>

  <div>
    <hr>
    
    <h2>
      "I've got a great website, but I want better Google rank for the search terms that drive my business."
    </h2>

    <br/>

    <p>
      Hi there, pleasure to meet you. My name is <%= config.your_name %> and I specialize in helping small companies rank better in Google. Lots of people think SEO is dead, and they're right to a certain degree. The bar for ranking well in Google has certainly gotten higher, but there are key steps you can begin today to improve your rankings. Its not a short road, in fact, its quite a long journey to get from here to good ranking. I can teach you how to do the work yourself, or you can hire me to do it. Either way, give me a call today and lets talk about your specific business and I'll share any ideas I have to help you. From there, we can either do business, or go our separate ways. Interested?
    </p>
 
    <br/>

    <%= partial "shared/cta" %>

  </div>
</article>
