<div class="page-footer">
  <div class="container">
    <h2>About <%= config.your_name %></h2>
    <img src="/images/android.png" alt="" class="your-image">
    <%= config.your_name %> spends his helping people like you build their business with technology.

    <div style='clear:both'></div>
    <hr>
    &copy; <%= config.your_name %> <%= DateTime.now.year %> 
  </div>
</div>
