<div class="row" style='margin-top: 10px;'>
  <div class='col-md-6'>
    <div style='font-size: 32px;'>
      <%= business_phone %>
    </div>
    <div style='font-size: 12px'>
      Phone subtext
    </div>
  </div>
  <div class='col-md-6'>
    <div style='font-size: 24px; text-align: right;'>
      <%= business_email %>
    </div>
    <div style='font-size: 12px; text-align: right;'>
      Email subtext
    </div>
  </div>
</div>