  <div class='row cta'>
    <div class='col-md-12'>
      <div class="circular-sm meads meads-image"></div>

      <div>
        Include a call to action to prompt the visitor to reachout to you. You don't want to write a bunch of great stuff and then give them no way to take the next step.
      </div>
  	</div>
  </div>
