---
changefreq: "monthly"
priority: 0.1
sitemap_exclude: true
---

<% content_for :page_title do %>
  404 Error
<% end %>

<div>
  <br/>
  <div style='text-align: center;'>
    <h1 class='fourohfour'>404.</h1>
    <div class='fourohfour-message'>
      Welp, I probably did something wrong again. Sorry about that!
    </div>
  </div>
  <br/><br/><br/><br/>
</div>
